<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<!-- 게시글 등록 -->
	<insert id="insert" parameterType="BoardDto">
		insert into board(member_no, category, title, writer, content, write_date, start_date, end_date)
		values(#{memberNo}, #{category}, #{title}, #{writer}, #{content},
		default, #{startDate}, #{endDate})
	</insert>
	
	<!-- 단일조회(번호) -->
	<select id="selectOne" resultType="BoardDto" parameterType="int">
		select * from board where board_no=#{boardNo}
	</select>
	
	<!-- 전체/검색 조회 -->
	<select id="selectList" resultType="BoardDto" parameterType="Map">
		select * from (
			select board_no, category, title, writer, write_date from board 
				where <![CDATA[start_date <= now() and ( end_date >= now())]]>
				<if test="type!='' and keyword!=''">
					and instr(${type},#{keyword})>0
				</if>
			order by board_no desc
		) a limit #{startNum}, #{endNum}
	</select>
	
	<!-- 수정 -->
	<update id="update" parameterType="BoardDto">
		update board set category=#{category}, title=#{title}, content=#{content},
			start_date=#{startDate}, end_date=#{endDate} where board_no=#{boardNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		delete from board where board_no=#{boardNo}
	</delete>
	
	
</mapper>